button {
  width: 4.2rem;
  height: 1.5rem;
  color: white;
  z-index: 0;
  background: transparent;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.45rem;
  text-transform: uppercase;
  outline: none;
  position: relative;
  box-sizing: border-box;
  border: 1px solid white;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  color: #121212;
  background-color: #5dffce;
  border: none;
}

button:active {
  outline: none;
}
