.contact {
  height: calc(100vh - 12rem);
  min-height: 640px;
  width: 70vw;
  max-width: 680px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.contact-name-first,
.contact-name-last {
  display: flex;
  flex-direction: column;
}

.contact label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #acacac;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 2rem;
  border: none;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  height: 4rem;
  padding: 0 1rem;
}

.contact-form textarea {
  height: 16rem;
  padding: 1rem;
  overflow-x: hidden;
  resize: none;
}

.contact-form button {
  margin-bottom: 4rem;
}

.contact-footer p {
  font-size: 1.6rem;
  text-align: center;
}

.contact-form-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 4px;
  z-index: 1;
  padding: 1.2rem 2rem;
  background-color: white;
  bottom: -6rem;
  transition: 0.2s ease-in-out;
}

.contact-form-message.active {
  bottom: 2rem;
}

.contact-form-message.success {
  background-color: #1ea896;
}

.contact-form-message.failure {
  background-color: #ff5a5f;
}

.contact-form-message p {
  margin: 0 0 0 2rem;
  font-size: 1.6rem;
}

.contact-form-message .anticon svg {
  font-size: 2.4rem;
  vertical-align: middle;
}

@media only screen and (max-width: 876px) {
  .contact {
    width: 100%;
    height: unset;
    padding: 6.4rem 0;
  }
  .contact-name {
    display: block;
  }
}
