/*
social
*/

.social-nav {
  font-size: 1.1rem;
  display: flex;
  height: 2rem;
  width: 4rem;
  align-items: center;
  justify-content: space-between;
}

.social-nav svg {
  cursor: pointer;
}

.social-nav svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer {
  border-top: 1px solid #2e2e30;
  height: 100%;
  background-color: #0f0f0f;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-statement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-statement h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5rem;
  margin: 1.5rem 5vw;
}

.contact-statement a {
  text-decoration: none;
  position: relative;
}

.contact-statement .email-link {
  color: #fb6156;
}

.contact-statement .email-link:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fb6156;
}

.contact-statement span {
  display: inline-block;
}

.copyright {
  font-size: 0.47rem;
  letter-spacing: 1px;
  color: #747474;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 0;
}
