/*
header layout
*/
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #34373c;
  height: 6.4rem;
  width: 100%;
  background-color: #272a2f;
  z-index: 1;
}

/*
logo
*/
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  height: 100%;
}

.logo-container img {
  height: 4rem;
  width: auto;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container-signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.logo-container-signature h3 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.logo-container-signature h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

/*
nav
*/
.nav ul {
  display: flex;
  margin-right: 5vw;
  list-style-type: none;
}

.nav li:not(:last-of-type) {
  margin-right: 5rem;
}

.nav-item-link {
  font-size: 1.6rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.nav-item-link:hover {
  cursor: pointer;
}

.nav-item-link:after {
  position: absolute;
  height: 0.4rem;
  background-color: #65d9f6;
  border-radius: 20px;
  content: "";
  opacity: 0;
  transition: all 0.2s;
  bottom: 0;
  width: 30%;
  transform: translateY(0rem);
}

.nav-item-link:hover:after,
.nav-item-link.active:after {
  opacity: 1;
  transform: translateY(0.5rem);
  width: 100%;
}

/*
mobile nav
*/
.mobile-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 100%;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  width: 100%;
  height: 100%;
  background-color: #212429;
  list-style: none;
}

.mobile-nav li:not(:last-of-type) {
  margin-bottom: 5rem;
}

.mobile-nav li:hover {
  cursor: pointer;
}

.mobile-nav.open {
  left: 0;
}

.mobile-nav-icon,
.mobile-nav-icon-close {
  position: absolute;
  right: 5vw;
  top: 1.6rem;
  font-size: 24px;
  color: white;
}

.mobile-nav-icon {
  display: none;
}

.mobile-nav-icon:hover,
.mobile-nav-icon-close:hover {
  cursor: pointer;
}

@media only screen and (max-width: 876px) {
  .mobile-nav-icon {
    display: block;
  }
  .nav {
    display: none;
  }
}
