.logo {
  width: 1.5rem;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01rem solid #2e2e30;
  height: 3rem;
  top: 0;
  background-color: #121212;
  z-index: 999;
  width: 100%;
}

.brand-container {
  display: flex;
  padding-left: 5vw;
}

.brand-container:hover {
  cursor: pointer;
}

.name-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.6rem;
}

.name-container * {
  margin: 0.02rem 0;
  padding: 0 0.5rem;
  letter-spacing: 0.02rem;
}

.name-container h4 {
  font-weight: 300;
}

*:focus {
  outline: none;
}
