.logo {
  width: 1.5rem;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01rem solid #2a282e;
  height: 3rem;
  top: 0;
  background-color: #181b1e;
  z-index: 999;
  width: 100%;
}

.brand-container {
  display: flex;
  padding-left: 5vw;
  height: 100%;
}

.brand-container:hover {
  cursor: pointer;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
}

.name-container * {
  margin: 0.05rem 0;
  padding: 0;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
}

.name-container h4 {
  font-weight: 300;
}

*:focus {
  outline: none;
}
