/*
core
*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.app {
  position: relative;
}

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272a2f;
  color: white;
  font-size: 10px;
}

/*
fonts
*/
main h1 {
  font-size: 4.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

main h2 {
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

main h3,
footer h3 {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

main p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

a {
  color: #65d9f6;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

/*
scroll
*/
body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}

/*
highlight
*/
::selection {
  color: #272a2f;
  background: rgba(255, 255, 255, 0.996);
}

::-moz-selection {
  background: white;
  color: #272a2f;
}

/*
layout
*/
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 0 5vw;
  max-width: 145rem;
  margin: auto;
  z-index: 0;
  margin-top: 6.4rem;
}

/*
button
*/
button {
  padding: 1.2rem 3.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border: none;
  background-size: 200% auto;
  transition: 0.5s;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    #4192b8 0%,
    #65d9f6 51%,
    #4192b8 100%
  );
}

button:hover {
  cursor: pointer;
  background-position: right center;
}

button:active {
  outline: none;
}

@media only screen and (max-width: 876px) {
  html {
    font-size: 9px;
  }
  main h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 8px;
  }
}
