/*
core
*/

@import-normalize;

html {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

/*
fonts
*/

p {
  cursor: default;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
}

h1 {
  letter-spacing: 1.2px;
  line-height: 72px;
  font-size: 48px;
  max-width: 940px;
}

h2 {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  font-weight: 900;
}

h2:after {
  content: "";
  width: 40px;
  height: 6px;
  background-image: linear-gradient(270deg, #fb6156, #ef3636);
  position: absolute;
  top: 44px;
  left: 0;
}

/*
main
*/

.main-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 24px;
  display: flex;
}

.main-content p:last-of-type {
  margin-bottom: 32px;
}

.main-content p:first-of-type {
  margin-top: 32px;
}

.about-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 32px;
  display: flex;
  margin: 0 240px;
  font-weight: 300;
}

.about-content p:last-of-type {
  margin-bottom: 48px;
}

a {
  color: white;
}

.about-content a {
  color: #fb6156;
  text-decoration: none;
  position: relative;
  font-weight: 400;
}

.main-content a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  transition: 0.2s;
}

/*
Work
*/

.page-container {
  background-color: #121212;
  padding: 0 10vw;
  min-height: calc(100vh - 88px);
}

.work-divider {
  border-top: 1px solid #2e2e30;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
}

.work-divider h4 {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 16px;
  position: relative;
  z-index: 10;
  top: 12px;
  left: 8px;
}

.work-divider h4:after {
  content: "";
  width: 136px;
  height: 16px;
  position: absolute;
  background-color: #2e2e30;
  left: -8px;
  top: 4px;
  z-index: -100;
}

.work-item {
  width: 100%;
  display: flex;
  padding: 120px 0;
}

.work-item:not(:last-of-type) {
  border-bottom: 1px solid #2e2e30;
}

.work-item h3 {
  font-size: 36px;
  letter-spacing: 1.1px;
  text-transform: capitalize;
  margin-top: 0;
}

.work-copy {
  width: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.work-copy-container {
  position: relative;
}

.work-action-container button:not(:first-of-type) {
  margin-left: 24px;
}

.work-visual {
  width: 60%;
  height: 100%;
}

.work-mock-image {
  width: 80%;
}

.side-content {
  width: 50%;
  height: 100%;
  position: relative;
}

.work-item h3 {
  margin-bottom: 0;
}

.work-item p {
  margin: 24px 0 32px;
}

::selection {
  color: #121212;
  background: rgba(255, 255, 255, 0.996);
}

::-moz-selection {
  background: white;
  color: #121212;
}
