i {
  font-size: 40px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;
  height: 360px;
}

.skills-list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.skills-list p {
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
}

li svg {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .skills-list {
    height: 480px;
    width: 480px;
    padding: 5%;
    max-width: 500px;
    max-height: 500px;
  }
}

@media only screen and (max-width: 590px) {
  .skills-list {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .skills-list {
    height: 100vw;
  }

  i {
    font-size: 32px;
  }

  .skills-list i {
    padding-top: 16px;
  }

  .skills-list p {
    padding-bottom: 16px;
  }
}
