/*
social
*/

.social-nav {
  font-size: 1.1rem;
  display: flex;
  height: 2.8rem;
  width: 7rem;
  align-items: center;
  justify-content: space-between;
}

.social-nav svg {
  cursor: pointer;
}

.social-nav svg:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer {
  border-top: 1px solid #2e2e30;
  background-color: #0f0f0f;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-statement {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;
}

.contact-statement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-statement h4 {
  font-size: 1.08em;
  letter-spacing: 1px;
  margin: .5rem 0;
}

.contact-statement a {
  text-decoration: none;
  position: relative;
}

.contact-statement .email-link {
  color: #fb6156;
}

.contact-statement .email-link:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fb6156;
}

hr {
  width: 80%;
  border-color: #2e2e30;
}

.copyright {
  font-size: .47rem;
  letter-spacing: 1px;
  height: 1rem;
  display: flex;
  align-items: center;
  color: #747474;
  font-weight: 500;
}
