.work-post button {
  margin-top: 3.2rem;
}

.work-post button:not(:last-of-type) {
  margin-right: 1.6rem;
}

.work-post-left,
.work-post-right {
  display: flex;
  justify-content: space-between;
  padding: 12rem 0;
}

.work-post-content {
  width: 50%;
}

.work-post-left .work-post-image {
  margin-right: 8rem;
}

.work-post-right .work-post-image {
  margin-left: 8rem;
}

.work-post-image {
  max-width: 52rem;
  width: 50%;
  border-radius: 4px;
}

.work-post-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-post:not(:last-of-type) {
  border-bottom: 1px solid #34373c;
}

.disclaimer {
  padding: 6.4rem 0;
  border-bottom: 1px solid #34373c;
}

@media only screen and (max-width: 960px) {
  .work-post {
    flex-direction: column;
  }

  .work-post-image,
  .work-post-content {
    width: 100%;
  }

  .work-post-right {
    flex-direction: column-reverse;
  }

  .work-post-right .work-post-image,
  .work-post-left .work-post-image {
    margin: 0 0 4rem;
  }

  .work-post-content {
    margin: 0;
  }
}
